/* App.css */
form {
  display: flex;
  flex-direction: column;
  max-width: 300px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the form */
}

label {
  margin-bottom: 10px;
  cursor: pointer;
}

input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  margin-top: 15px;
  padding: 10px;
  cursor: pointer;
}
